

@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(.6);
    }

    100%
    {
        opacity: 1;
        transform: scale(1);
    }
}

#emoji-message.animate {
    animation: pop .1s ease-in;
}