* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

body {
    background: linear-gradient(
        135deg,
        hsl(199, 95%, 58%),
        hsl(199, 100%, 40%)
    );

    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

h1 {
    font-size: 54px;
    color: hsl(199, 100%, 10%);
    text-shadow: 0 0 6px rgba(0, 0, 0, .25);
}

.card {
    max-width: clamp(300px, 50vw, 800px);
    background: rgba(255, 255, 255, .1);
    padding: clamp(1rem, 5vw, 3rem);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, .25);

    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: hsl(199, 100%, 10%)
}

.card p {
    font-size: 1.5rem;
}

ul {
    list-style: none;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
}

ul li::before {
    content: '';
    width: 10px;
    height: 2px;
    background:hsl(199, 100%, 10%);
}
